/* MEnu*/
#menu {
  box-shadow: 2px 2px 7px 0px rgba(150, 150, 150, 0.5);
  margin-bottom: 20px;
}
.navbar-brand > img {
  height: 100%;
  max-height: 40px;
  width: auto;
}
.padding-space {
  padding: 10px 0 10px;
}




html, body {
  height: 100%;
  margin: 0;
}
#wrapper {
  min-height: 100%;
}
#content {
  /* padding: 20px; */
  padding-bottom: 90px;
}
footer {
  height: 60px;
  margin-top: -60px;

  /* border-top: 1px solid #777; */
  padding: 10px 0 20px 0;

}
#madeby {
  text-align: right;
}
#madeby .label{
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}
#madeby .brand img{
  max-height: 30px;
  border-radius: 40%;
  padding: 0 10px 0 10px;
}
#madeby  a.brand{
  color: #111;
  font-weight: bold;
}


h1{
  margin-bottom: 20px;
}
h2{
  margin-bottom: 18px;
  font-size: 1.6em;
}


#quit-button{
  font-size: 1.5em;
  font-weight:bold;
  text-decoration: underline;
  color: #222;

}
#quit-button:hover{
  text-decoration: none;
}

.attention{
  padding: 0 0 0 10px;
  border-left: 8px solid #ff2222;
}


